<form action="/compress/upload/{{compress.name}}/{{compress.ext}}" method="post" enctype="multipart/form-data">
    <img src="{{compress.url}}" class="rounded mx-auto d-block responsive-img " alt="{{compress.name}}">
    <button class="btn btn-danger">Compress</button>
</form>